{{define "head"}}
<title>Commenteer - {{.RedditRequest}} - Submit</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"
    integrity="sha512-BNaRQnYJYiPSqHHDb58B0yaPfCu+Wgds8Gp/gU33kqBtgNS4tSPHuGibyoeqMV/TJlSKda6FXzoEyYGjTe+vXA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="/static/edit.js"></script>
{{end}}

{{define "nav"}}
<nav class="titlebar">
    <a href="/" class="nostyle"><img class="logo" src="/static/cmtr.webp"></a>
    <div class="user">
        {{if .UserCookie}}
        <p>{{.Username}}</p>
        <img src="{{.IconUrl}}" alt="reddit user icon" loading="lazy" />
        {{end}}
    </div>
</nav>
{{end}}

{{define "body"}}
<div class="container">
    <button onclick="takeScreenshot();">Finalize</button>
</div>
<div class="container">
    <div class="image-comment-container">
        <div class="image-container">
            <img src="{{.ProxyUrl}}" alt="{{.ImageUrl}}" loading="lazy" />
        </div>
        <div class="comment-container">
            {{range $i, $comment := .RedditComments}}
            <ul class="d{{$i}}">
                <li class="comment">{{$comment.Comment}}</li>
                <li class="author">u/{{$comment.Author}}</li>
                {{end}}
            </ul>
        </div>
    </div>
</div>
{{end}}