{{define "head"}}
<title>Commenteer</title>
<script src="/static/home.js" async></script>
{{end}}

{{define "nav"}}

{{end}}

{{define "body"}}
<div class="flex justify-center items-center flex-wrap pt-20">
    {{if .UserCookie}}
    <div class="mb-4" style="width: 866px;">
        <!-- <form method="get"> -->
            <input class="p-3 w-10/12 rounded-md shadow-md" id="link" type="url"
                placeholder="https://www.reddit.com/r/pics/comments/1fvmr1o/a_picture_on_my_way_home/lq87zcb/" />
            <button class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded"
                onclick="validateLink();">create</button>
        <!-- </form> -->
        <div>
            <p id="linkError"></p>
        </div>
    </div>
    {{end}}
    {{range $i, $a := .Posts}}
    <div class="">
        <a href="/r/{{.QueryId}}">
            {{ if gt $i 1 }}
            <img class="shadow-md" id="{{.QueryId}}" src="{{.CdnUrl}}" alt="{{.ImageUrl}}" loading="lazy" />
            {{else}}
            <img class="shadow-md" id="{{.QueryId}}" src="{{.CdnUrl}}" alt="{{.ImageUrl}}" />
            {{end}}
        </a>
        {{template "linkActions" .}}
    </div>
    {{end}}
</div>
{{end}}