{{define "head"}}
<script src="/static/home.js" async></script>
{{end}}

{{define "body"}}
<div class="centered">
    <h1>Commenteer</h1>
    <label>hi: <input id="link" /></label> <button onclick="validateLink();">test</button>
    <p id="linkError"></p>
    {{if .UserCookie}}
    <div class="user">
        <p>{{.Username}}</p>
        <img src="{{.IconUrl}}" alt="reddit user icon" loading="lazy" />
    </div>
    {{else}}
    <a href="/login/"><button>Login</button></a>
    {{end}}

</div>

{{range $key, $value := .Posts}}
<div class="container">
    <img src="{{.CdnUrl}}" alt="{{.ImageUrl}}" loading="lazy" />

    <!-- <div class="image-comment-container">
        <div class="image-container">
        </div> -->
    <!-- <div class="comment-container">
            {{range $i, $comment := .RedditComments}}
            <ul class="d{{$i}}">
                <li class="comment">{{$comment.Comment}}</li>
                <li class="author">u/{{$comment.Author}}</li>
                {{end}}
            </ul>
        </div> -->
    <!-- </div> -->
</div>
{{end}}
{{end}}