{{define "head"}}
<title>Commenteer</title>
<meta name="page" content="home" />
<meta name="subpage" content="default" />
<script src="/static/home.js" async></script>
<script src="/static/linkActions.js" async></script>
<script src="/static/infinitescroll.js" async></script>
{{end}}

{{define "nav"}}
{{template "userLoginInfo" .}}
{{end}}

{{define "body"}}
<div id="maincontent" class="flex justify-center items-center flex-col pt-20 links">
    {{if .User}}
    <div class="mb-4 flex-wrap" style="width: 1024px; max-width: 100%;">
        <!-- <form method="get"> -->
        <input class="p-3 w-9/12 ml-2 rounded-md shadow-md" id="link" type="url"
            placeholder="https://www.reddit.com/r/pics/comments/1fvmr1o/comment/lq87zcb/" />
        {{if lt .User.RemainingUploads 1}}
        <button
            class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded opacity-50 cursor-not-allowed"
            style="margin-top: 5px; margin-left: 2px;">create</button>
        {{else}}
        <button class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded"
            style="margin-top: 5px; margin-left: 2px;" onclick="validateLink();">create</button>
        {{end}}
        <a href="/faq/"><button class="bg-slate-500 hover:bg-slate-700 text-white font-bold py-2 px-4 rounded"
                style="margin-top:5px; margin-left: 2px;">help</button></a>
        <!-- </form> -->
        <div class="ml-4 mt-2">
            <div id="linkError">
                {{.ErrorText}}{{if eq .ErrorType "subreddit"}} see <a class="md:underline" href="/static/AllowedSubreddits.txt">allowed
                    subreddits.</a>{{end}}
            </div>
            <span>weekly remaining uploads: {{.User.RemainingUploads}}</span>
        </div>
    </div>
    {{end}}
    {{template "links" .}}
</div>
<div id="clipboard-note" class="fixed inset-left-0 bottom-0 z-10 bg-blue-300 flex mb-10 ml-4 invisible">
    <span class="px-8 py-4">
        copied to clipboard
    </span>
</div>
{{end}}