{{define "head"}}
<title>Commenteer - Login</title>
{{end}}

{{define "nav"}}
<nav class="titlebar">
    <a href="/" class="nostyle"><img class="logo" src="/static/cmtr.webp" alt="commenteer logo"></a>
</nav>
{{end}}

{{define "body"}}
<!-- <p>{{.}}</p> -->
<form action="/login/" method="post">
    <div class="container">
        <div class="image-comment-container">
            <div class="container">Log In</div>
            <div class="container">
                <button type="submit">Continue with Reddit</button>
            </div>
        </div>
    </div>
</form>
{{end}}